config SHIELD_FORSCIENCE_LEFT
    def_bool $(shields_list_contains,ForScience_left)

config SHIELD_FORSCIENCE_RIGHT
    def_bool $(shields_list_contains,ForScience_right)

config SHIELD_CRADIO_DONGLE
    def_bool $(shields_list_contains,cradio_dongle)
